{% extends "base.html" %}

{% block body %}
{{msg}}
<style>
    #customers {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    #customers td,
    #customers th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #e7630a;
        color: white;
    }
</style>
<div class="container my-3">
    <table id="customers">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Address</th>
            <th>City</th>
            <th>PIN</th>
            <th>Branch</th>
            <th>Course</th>
            <th>Year</th>
            <th>Action</th>
        </tr>
        {% for item in rec %}
        <tr>
            <td>{{item.fname}}</td>
            <td>{{item.lname}}</td>
            <td>{{item.Phone1}}</td>
            <td>{{item.email}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.address}}</td>
            <td>{{item.city}}</td>
            <td>{{item.pin}}</td>
            <td>{{item.branch}}</td>
            <td>{{item.course}}</td>
            <td>{{item.year}}</td>
            <td><a href="/edit?id={{item.id}}">Edit</a> <a href="/delete?id={{item.id}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock body %}